## Read CSV

In [17]:
import pandas as pd
plans = pd.read_csv('./plans.csv')
slc = pd.read_csv('./slcsp.csv')
zips = pd.read_csv('./zips.csv')
slc

    zipcode  rate
0     64148   NaN
1     67118   NaN
2     40813   NaN
3     18229   NaN
4     51012   NaN
5     79168   NaN
6     54923   NaN
7     67651   NaN
8     49448   NaN
9     27702   NaN
10    47387   NaN
11    50014   NaN
12    33608   NaN
13     6239   NaN
14    54919   NaN
15    46706   NaN
16    14846   NaN
17    48872   NaN
18    43343   NaN
19    77052   NaN
20     7734   NaN
21    95327   NaN
22    12961   NaN
23    26716   NaN
24    48435   NaN
25    53181   NaN
26    52654   NaN
27    58703   NaN
28    91945   NaN
29    52146   NaN
30    56097   NaN
31    21777   NaN
32    42330   NaN
33    38849   NaN
34    77586   NaN
35    39745   NaN
36     3299   NaN
37    63359   NaN
38    60094   NaN
39    15935   NaN
40    39845   NaN
41    48418   NaN
42    28411   NaN
43    37333   NaN
44    75939   NaN
45     7184   NaN
46    86313   NaN
47    61232   NaN
48    20047   NaN
49    47452   NaN
50    31551   NaN

Remove duplicate records if any

In [5]:
zips = zips[['zipcode', 'state', 'rate_area']].sort_values(['zipcode', 'state', 'rate_area']).drop_duplicates()

Identify duplicate zips, eg: same zipcode in multiple states / rate areas.
drop these duplicate zips so the result in the final answer is N/A

In [13]:
dup_zips = zips[zips.duplicated(['zipcode'], keep=False)].sort_values(['zipcode', 'state', 'rate_area'])
uniq_zips = zips.drop(dup_zips.index.values)
uniq_zips

       zipcode state  rate_area
30314      501    NY          8
30313      544    NY          8
51384      601    PR          1
51385      602    PR          1
51386      603    PR          1
51387      604    PR          1
51389      605    PR          1
51458      606    PR          1
51531      611    PR          1
51393      612    PR          1
51395      613    PR          1
51396      614    PR          1
51397      616    PR          1
51400      617    PR          1
51402      622    PR          1
51403      623    PR          1
51408      627    PR          1
51453      631    PR          1
51478      637    PR          1
51422      638    PR          1
51532      641    PR          1
51427      646    PR          1
51430      650    PR          1
51398      652    PR          1
51435      656    PR          1
51443      659    PR          1
51444      660    PR          1
51449      662    PR          1
51450      664    PR          1
51452      667    PR          1
...        ...   ...        ...
47939    99326    WA          5
48013    99328    WA          5
48660    99329    WA          5
48052    99330    WA          5
48700    99333    WA          5
48048    99335    WA          5
47949    99336    WA          5
47950    99337    WA          5
47955    99338    WA          5
47940    99341    WA          5
48051    99343    WA          5
47938    99344    WA          5
47956    99345    WA          5
47958    99346    WA          5
47945    99347    WA          5
48659    99348    WA          5
48069    99349    WA          5
47959    99352    WA          5
47957    99353    WA          5
47953    99354    WA          5
48290    99356    WA          3
48072    99357    WA          5
48011    99359    WA          5
48661    99360    WA          5
48012    99361    WA          5
48663    99363    WA          5
47941    99371    WA          5
47946    99401    WA          5
47948    99402    WA          5
47947    99403    WA          5

[35081 rows x 3 columns]

Filter on Silver plans

In [7]:
grp = plans[plans['metal_level'] == 'Silver'][['state', 'rate_area', 'rate']].sort_values(['state',  'rate_area', 'rate']).drop_duplicates()
grp.head(10)

      state  rate_area   rate
1869     AK          1  580.0
2156     AK          1  597.0
14962    AK          1  604.0
5393     AK          1  635.0
20138    AK          1  638.0
8180     AK          1  664.0
9910     AK          2  568.0
16353    AK          2  569.0
16749    AK          2  585.0
4600     AK          2  592.0

Check if there are two rates for the same rate area in a state

In [8]:
grp.groupby(['state', 'rate_area']).size().reset_index(name='counts').sort_values(['counts']).head(10)

    state  rate_area  counts
382    WI          3       2
398    WV          3       4
404    WV          9       4
403    WV          8       4
402    WV          7       4
401    WV          6       4
400    WV          5       4
399    WV          4       4
405    WV         10       4
397    WV          2       4

find the index of the minimum rate plan in rate_area 
drop the lowest plans from the list

In [9]:
lowestPlanIdx = grp.groupby(['state', 'rate_area'])['rate'].idxmin().values
grp3 = grp.drop(lowestPlanIdx)

get the second lowest rateplan

In [10]:
grp4 = grp3.groupby(['state', 'rate_area'], as_index=False).min()

Join unique zipcode with the second lowest rate to get the final answer

In [12]:
res1 = pd.merge(uniq_zips, grp4, on=['state', 'rate_area'], how="left")
res2 = pd.merge(slc, res1, on=['zipcode'], how="left")
ans = res2[['zipcode', 'rate_y']]
ans

    zipcode  rate_y
0     64148  245.20
1     67118  212.35
2     40813     NaN
3     18229  231.48
4     51012  252.76
5     79168  243.68
6     54923     NaN
7     67651  249.44
8     49448  221.63
9     27702  283.08
10    47387  326.98
11    50014  287.30
12    33608  268.49
13     6239     NaN
14    54919  243.77
15    46706     NaN
16    14846     NaN
17    48872     NaN
18    43343     NaN
19    77052  243.72
20     7734     NaN
21    95327     NaN
22    12961     NaN
23    26716  291.76
24    48435     NaN
25    53181  306.56
26    52654  242.39
27    58703  297.93
28    91945     NaN
29    52146  254.56
30    56097     NaN
31    21777     NaN
32    42330     NaN
33    38849  285.69
34    77586  243.72
35    39745  265.73
36     3299  240.45
37    63359     NaN
38    60094  209.95
39    15935  184.97
40    39845  325.64
41    48418     NaN
42    28411  307.51
43    37333  219.29
44    75939  234.50
45     7184     NaN
46    86313  292.90
47    61232  222.38
48    20047     NaN
49    47452     NaN
50    31551  290.60